<app-nav [heading]="heading" [headingIcon]="headingIcon"></app-nav>
<div class="container page">
    <div *ngIf="notification.meaagse != ''" style="margin-top: 12px;margin-right: -236px;">
        <button type="button" class="close" data-dismiss="modal" style="margin-right: -15px !important;" (click)="closeNotification()"
            aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            <p [ngClass]="{'red':!notification.isSuccessful, 'green': notification.isSuccessful}">
                {{notification.meaagse}}
            </p>
    </div>


    <div class="calendar-col text-center" style="margin-left: 15px;margin-right: -230px;">
        <div class="panel panel-primary">
            <div class="panel-body">
                <span class="pendingApprovel-barge"></span>
                <span class="pendingApprovel-bargeHeader">Awaiting Approvel</span>
                <table class="table table-striped table-scroll">
                    <thead>
                        <tr class="pendingApprovel-header">
                            <th style="width: 80px;">Order #</th>
                            <th>Cost/ Quantity</th>
                            <th>Order Date</th>
                            <th>User</th>
                            <th>Delivery Method</th>
                            <th>Payment Method</th>
                            <th>Payment Reference</th>
                            <th>Proof Of Payment</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let order of awaitingApprovalOrders; let i = index; trackBy: trackByIndex' style="font-size: 12px;">
                            <td style="text-align: start;width: 80px;">{{order.orderNumber}}</td>
                            <td style="text-align: start;"><b>{{order.cost | currency:'ZAR':true}} </b>&nbsp; ({{order.quantity}})</td>
                            <td style="text-align: start;">{{order.dateDisplay}}</td>
                            <td style="text-align: start;">{{order.user}}</td>
                            <td style="text-align: center;" class="text-overflow">{{order.deliveryMethod}}</td>
                            <td style="text-align: center;">{{order.paymentMethod}}</td>
                            <td style="text-align: center;">{{order.reference}}</td>
                            <td style="text-align: center;">
                                <i *ngIf="!order.uploadedPOP" class="fa fa-file-pdf-o fa-icon"></i>
                                <i *ngIf="order.uploadedPOP" style="color: green;cursor: pointer" class="fa fa-file-pdf-o fa-icon" (click)="openPOP(order.key)"></i>
                            </td>
                            <td style="text-align: start;">
                                <button type="button" [disabled]="!order.uploadedPOP" (click)="approveOrder(order)" class="btn btn-success">
                                    Approve
                                </button>
                            </td>
                        </tr>
                        <tr *ngIf='awaitingApprovalOrders.length == 0'>
                            <td style="text-align: center;font-weight: bold;" *ngIf="!loading">No Awaiting Approvel Order(s)</td>
                            <td style="text-align: center;font-weight: bold;" *ngIf="loading">
                                <div class="text-center">
                                    <div class="loader"></div>
                                    <span>Loading Order(s)...</span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="calendar-col text-center">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <span class="pendingApprovel-barge"></span>
                    <span class="pendingApprovel-bargeHeader">Awaiting Courier Pickup</span>
                    <table class="table table-striped table-scroll">
                        <thead>
                            <tr class="pendingApprovel-header">
                                <th style="width: 80px;">Order #</th>
                                <th>Cost/ Quantity</th>
                                <th>Order Date</th>
                                <th>User</th>
                                <th>Delivery Method</th>
                                <th>Payment Method</th>
                                <th>Payment Reference</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor='let order of awaitingCourierPickupOrders; let i = index; trackBy: trackByIndex' style="font-size: 12px;">
                                <td style="text-align: start;width: 80px;">{{order.orderNumber}}</td>
                                <td style="text-align: start;"><b>{{order.cost | currency:'ZAR':true}} </b>&nbsp; ({{order.quantity}})</td>
                                <td style="text-align: start;">{{order.dateDisplay}}</td>
                                <td style="text-align: start;">{{order.user}}</td>
                                <td style="text-align: start;" class="text-overflow">{{order.deliveryMethod}}</td>
                                <td style="text-align: start;">{{order.paymentMethod}}</td>
                                <td style="text-align: start;">{{order.reference}}</td>
                                <td style="text-align: start;">
                                    <button type="button" (click)="confirmCollection(order)" data-toggle="modal" data-target="#exampleModal" class="btn btn-success">
                                    Confirm Collection
                                </button>
                                </td>
                            </tr>
                            <tr *ngIf='awaitingCourierPickupOrders.length == 0'>
                                <td style="text-align: center;font-weight: bold;" *ngIf="!loading">No order(s) that are awaiting courier pickup</td>
                                <td style="text-align: center;font-weight: bold;" *ngIf="loading">
                                    <div class="text-center">
                                        <div class="loader"></div>
                                        <span>Loading Order(s)...</span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="calendar-col text-center" *ngIf="this.currentUser.userType == 'Manager' || this.currentUser.userType == 'Admin'">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <span class="pendingApprovel-barge"></span>
                        <span class="pendingApprovel-bargeHeader">Awaiting Final Approval</span>
                        <table class="table table-striped table-scroll">
                            <thead>
                                <tr class="pendingApprovel-header">
                                    <th style="width: 80px;">Order #</th>
                                    <th>Cost/ Quantity</th>
                                    <th>Order Date</th>
                                    <th>User</th>
                                    <th>Delivery Method</th>
                                    <th>Payment Method</th>
                                    <th>Payment Reference</th>
                                    <th>Proof Of Payment</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor='let order of awaitingFinalApprovalOrders' style="font-size: 12px;">
                                    <td style="text-align: start;width: 80px;">{{order.orderNumber}}</td>
                                    <td style="text-align: start;"><b>{{order.cost | currency:'ZAR':true}} </b>&nbsp; ({{order.quantity}})</td>
                                    <td style="text-align: start;">{{order.dateDisplay}}</td>
                                    <td style="text-align: start;">{{order.user}}</td>
                                    <td style="text-align: center;" class="text-overflow">{{order.deliveryMethod}}</td>
                                    <td style="text-align: center;">{{order.paymentMethod}}</td>
                                    <td style="text-align: center;">{{order.reference}}</td>
                                    <td style="text-align: center;">
                                        <i *ngIf="!order.uploadedPOP" class="fa fa-file-pdf-o fa-icon"></i>
                                        <i *ngIf="order.uploadedPOP" style="color:green;cursor: pointer" class="fa fa-file-pdf-o fa-icon" (click)="openPOP(order.key)"></i>
                                    </td>
                                    <td style="text-align: start;">
                                        <button type="button" [disabled]="!order.uploadedPOP" (click)="approveOrder(order)" class="btn btn-success">
                                    Approve
                                </button>
                                    </td>
                                </tr>
                                <tr *ngIf='awaitingFinalApprovalOrders.length == 0'>
                                    <td style="text-align: center;font-weight: bold;" *ngIf="!loading">No Awaiting Final Approval(s)</td>
                                    <td style="text-align: center;font-weight: bold;" *ngIf="loading">
                                        <div class="text-center">
                                            <div class="loader"></div>
                                            <span>Loading Order(s)...</span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" style="margin-left: 25%;width: 900px" role="document">
                    <div class="modal-content" style="width: 900px;">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Confirm Order Collection</h5>
                            <button type="button" id="closeOrderCollection" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                        </div>
                        <div class="modal-body">
                            <form [formGroup]="collectionForm">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label style="margin-bottom: 0px;">Courier Name</label>
                                        <input type="text" [value]="orderToCollect.courierName" formControlName="courierName" class="form-control underline" (input)="orderToCollect.courierName = $event.target.value"
                                            name="courierName" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Courier Name">
                                    </div>
                                    <div class="col-md-4">
                                        <label style="margin-bottom: 0px;">Driver Name</label>
                                        <input type="text" [value]="orderToCollect.driverName" formControlName="driverName" class="form-control underline" (input)="orderToCollect.driverName = $event.target.value"
                                            name="driverName" id="exampleInputPassword1" placeholder="Driver Name">
                                    </div>
                                    <div class="col-md-4">
                                        <label style="margin-bottom: 0px;">Waybill Number</label>
                                        <input type="test" [value]="orderToCollect.waybillNumber" formControlName="waybillNumber" class="form-control underline"
                                            (input)="orderToCollect.waybillNumber = $event.target.value" name="waybillNumber"
                                            id="exampleInputPassword1" placeholder="Waybill Number">
                                    </div>
                                </div>
                                <div class="row pull-right">
                                    <div>
                                        <button style="margin-top: 15px;width: 150px;margin-right: 15px;" (click)="submit()" type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>