.loader {
          margin-top: -15%;
    margin-left: 85%;
       border-bottom: 2px solid;
    border-top: 3px solid yellow;
    border-radius: 50%;
   width: 25px;
    height: 25px;
    animation: spin 2s linear infinite;
}

.page{
       width: auto !important;
    padding-top: 2% !important;
    margin-right: 150px;
    margin-left: 16% !important;
}

.login-btn{
        width: 200px;
}

.text-overflow{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.awaitingApproval-heading {
    color: #fff;
    background-color: #06c5ac;
    border-color: #06c5ac;
    font-size: 12px;
}
.awaitingApproval-barge{
        text-align: center;
    color: #fff;
    background-color: #078c7a;
    border-color: #078c7a;
    font-size: 18px;
    margin-left: -10px;
    border-radius: 50%;
    width: 5%;
    margin-bottom: 20px !important;
    margin-top: -15px;
    position: absolute;
}

.awaitingApproval-bargeHeader{
    margin-top: -20px;
    position: absolute;
    margin-left: 30px;
    font-size: 15px;
    font-weight: 400;
}
.table-scroll tbody {
display:block;
max-height: 230px;
overflow-y:scroll;
}
.table-scroll thead, tbody tr {
display:table;
width:100%;
table-layout:fixed;
}

.pendingApprovel-header{
    color: #fff;
    background-color: #cf595b;
    border-color: #cf595b;
    font-size: 12px;
}

.pendingApprovel-barge{
        text-align: center;
    color: #fff;
    background-color: #96393b;
    border-color: #96393b;
    font-size: 18px;
    margin-left: -10px;
    border-radius: 50%;
    width: 5%;
    margin-bottom: 20px !important;
    margin-top: -15px;
    position: absolute;
}

.pendingApprovel-bargeHeader{
    margin-top: -20px;
    position: absolute;
    margin-left: 30px;
    font-size: 15px;
    font-weight: 400;
}

.approval-heading{
    color: #fff;
    background-color: seagreen;
    border-color: seagreen;
    font-size: 12px;
}

.approval-barge{
        text-align: center;
    color: #fff;
    background-color: green;
    border-color: green;
    font-size: 18px;
    margin-left: -10px;
    border-radius: 50%;
    width: 5%;
    margin-bottom: 20px !important;
    margin-top: -15px;
    position: absolute;
}

.approval-bargeHeader{
    margin-top: -20px;
    position: absolute;
    margin-left: 30px;
    font-size: 15px;
    font-weight: 400;
}

.underline {
      background: none !important;
    background-image: none;
    border: 1px solid orange;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0 0 0 0 !important;
    color: #FFFFFF;
    font-family: inherit;
    font-size: 15px;
    line-height: 1.2;
    padding: 5px 4px;
    transition-duration: 0.1s;
    box-shadow: none !important;
    transition: border 300ms ease-out;
    width: 100%;
}

.actionBar{
        margin-right: -200px;
    margin-left: -10px;
    color: white !important;
    background-color: seagreen !important;
    border-radius: 10px;
    padding: 15px;
}
.calendar-btn{
    border: none;
    background-color: transparent;
        margin-right: -100px;
}