<div class="striped-bg" id="sidenav" ng-controller="TabsDemoCtrl">
    <div id="navTabs">
        <div class="sidebar-controllers sidebar-top-nav">
            <div justified="true" class="ng-isolate-scope">
                <div class="tab-content ps-container ps-active-y">
                    <!-- ngRepeat: tab in tabs -->
                    <div class="tab-pane ng-scope active" ng-class="{active: tab.active}" tab-content-transclude="tab">                       
                        <div class="ng-scope">
                            <br>
                            <br>
                            <br>
                            <br>
                            <div class="tab-pane active" id="menu">
                                <div class="photo-container text-center">
                                    <img [src]="profileImgUrl" class="img-circle dash-profile">
                                    <div class="t-p">
                                        <a>{{displayName}}</a> </div>
                                </div>
                                <ul class="sidebar-nav" >
                                    <li class="text-center" [ngClass]="{'active-menu': activeMenu == 0, 'menu-text': activeMenu != 0}" (click)="navigate('/dashboard'); activeMenu = 0">
                                            <i class="fa fa-home"></i>
                                            <p>Dashboard</p>
                                    </li>
                                    <li *ngIf="currentUser.userType != 'User'" class="text-center" [ngClass]="{'active-menu': activeMenu == 1, 'menu-text': activeMenu != 1}" (click)="navigate('/stock'); activeMenu = 1">
                                            <i class="fa fa-product-hunt"></i>
                                            <p>Stock</p>
                                    </li>
                                    <li *ngIf="currentUser.userType != 'User'" class="text-center" [ngClass]="{'active-menu': activeMenu == 2, 'menu-text': activeMenu != 2}" (click)="navigate('/user'); activeMenu = 2">                                        
                                            <i class="fa fa-users"></i>
                                            <p>Users</p>
                                    </li>
                                    <li *ngIf="currentUser.userType != 'User'" class="menu-text text-center" [ngClass]="{'active-menu': activeMenu == 3, 'menu-text': activeMenu != 3}" (click)="navigate('/order'); activeMenu = 3">
                                            <i class="fa fa-list-alt"></i>
                                            <p>Orders</p>
                                    </li>
                                    <li class="text-center menu-text" *ngIf="currentUser.userType != 'User'">
                                        <span data-toggle="collapse" href="#collapseReport" >
                                            <i class="fa fa-home"></i>
                                            <p >Reports <i class="fa fa-angle-down pull-right" style="padding-right: 15px;    margin-left: -1.5em;"></i></p>
                                        </span>
                                         <ul class="collapse" id="collapseReport" style="    font-size: smaller;">
                                            <li (click)="navigate('/orderReport'); activeMenu = 5" class="text-center" [ngClass]="{'active-menu': activeMenu == 5, 'menu-text': activeMenu != 5}"><i class="fa fa-file-text-o"></i> <p>Orders Report</p></li>
                                            <li (click)="navigate('/userReport'); activeMenu = 6" class="text-center" [ngClass]="{'active-menu': activeMenu == 6, 'menu-text': activeMenu != 6}"><i class="fa fa-address-card"></i> <p>User Report</p></li>
                                            <li (click)="navigate('/executiveReport'); activeMenu = 7" class="text-center" [ngClass]="{'active-menu': activeMenu == 7, 'menu-text': activeMenu != 7}"><i class="fa fa-stack-exchange"></i> <p>Executive Report</p></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end ngRepeat: tab in tabs -->
        <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 3px;">
            <div class="ps-scrollbar-x" style="left: 0px; width: 0px;"></div>
        </div>
        <div class="ps-scrollbar-y-rail" style="top: 0px; height: 673px; right: 3px;">
            <div class="ps-scrollbar-y" style="top: 0px; height: 563px;"></div>
        </div>
    </div>
</div>