.loader {
       margin-top: 10%;
    margin-left: 40%;
       border-bottom: 2px solid;
    border-top: 3px solid yellow;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    animation: spin 2s linear infinite;
}