<app-nav [heading]="heading" [headingIcon]="headingIcon"></app-nav>   
<div class="container page">
  <div class="row">
    <div class="col-md-3 padding">
    <div class="stat panel ng-isolate-scope" bgclass="info" icon="eye" value="71,842" text="Profile Views">
        <div class="row">
          <div class="col-md-3 icon-col" style="background-color: orange !important;"> <i class="fa fa-eye fa-4x"></i> </div>
          <div class="col-md-9 text-col"> <i class="fa fa-eye fa-5x"></i>
            <h2 class="ng-binding" *ngIf="!loading">{{stockData.manufactured}}</h2>
            <div class="loader" *ngIf="loading"></div>
            <p class="ng-binding" style="margin-left: -10px;">Manufactured Stock</p>            
          </div>
        </div>
      </div>
    </div>
     <div class="col-md-3 padding">
    <div class="stat panel ng-isolate-scope" bgclass="info" icon="eye" value="71,842" text="Profile Views">
        <div class="row">
          <div class="col-md-3 icon-col" style="background-color: orangered;"> <i class="fa fa-eye fa-4x"></i> </div>
          <div class="col-md-9 text-col"> <i class="fa fa-eye fa-5x"></i>
            <h2 class="ng-binding" *ngIf="!loading">{{stockData.rejected}}</h2>
            <div class="loader" *ngIf="loading"></div>
            <p class="ng-binding">Rejected Stock</p>            
          </div>
        </div>
      </div>
    </div>
     <div class="col-md-3 padding">
    <div class="stat panel ng-isolate-scope" bgclass="info" icon="eye" value="71,842" text="Profile Views">
        <div class="row">
          <div class="col-md-3 icon-col" style="background-color: seagreen;"> <i class="fa fa-eye fa-4x"></i> </div>
          <div class="col-md-9 text-col"> <i class="fa fa-eye fa-5x"></i>
            <h2 class="ng-binding" *ngIf="!loading">{{stockData.avaliable}}</h2>
            <div class="loader" *ngIf="loading"></div>
            <p class="ng-binding">Available Stock</p>            
          </div>
        </div>
      </div>
    </div>
     <div class="col-md-3 padding">
    <div class="stat panel ng-isolate-scope" bgclass="info" icon="eye" value="71,842" text="Profile Views">
        <div class="row">
          <div class="col-md-3 bg-info icon-col"> <i class="fa fa-eye fa-4x"></i> </div>
          <div class="col-md-9 text-col"> <i class="fa fa-eye fa-5x"></i>
            <h2 class="ng-binding" *ngIf="!loading">{{stockData.sold}}</h2>
            <div class="loader" *ngIf="loading"></div>
            <p class="ng-binding">Sold Stock</p>            
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="background-color: white;margin-right: -220px !important; margin-left: 2px; color: #999;">
    <div class="col-md-7 padding text-center">
        <h4 class="ng-binding">Current Month Order(s) Data</h4>
       <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
    </div>
    <div class="col-md-5 padding text-center">
      <h4>Current Month User(s) Data</h4>
      <canvas baseChart
            [datasets]="doughnutChartData"
            [labels]="doughnutChartLabels"
            [options]="doughnutChartOptions"
            [legend]="doughnutChartLegend"
            [chartType]="doughnutChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
</div>